@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
	font-family: "Open Sans", sans-serif;
	color: #333;
	line-height: 1.6;
}

h1 {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}

.roboto-text {
	font-family: "Roboto", sans-serif;
}
