@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap");
:root {
	--teal-color: #00897b;
	--bg-color: #faf9f6;
	--text-dark: #333;
	--box-bg: #fff;
}

body {
	font-family: "Open Sans", sans-serif;
	color: #333;
	line-height: 1.6;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

h1 {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}

.roboto-text {
	font-family: "Roboto", sans-serif;
}
#user-avatar {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: 2px solid var(--teal-color);
	cursor: pointer;
}
/* --- NAVBAR --- */
.navbar {
	justify-content: space-between;
}
.navbar-brand {
	color: #00897b !important;
	font-weight: 900;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
}
.nav-search {
	background-color: var(--teal-color);
	border-radius: 20px;
	padding: 5px 15px;
	width: 400px;
	display: flex;
	align-items: center;
}
.nav-search i {
	color: white;
	margin-right: 10px;
}
.nav-search input {
	background: transparent;
	border: none;
	outline: none;
	color: white;
	width: 100%;
}
.nav-search input::placeholder {
	color: #e0e0e0;
}
.nav-menu {
	display: flex;
	align-items: center;
	gap: 20px;
}
.nav-menu a {
	color: var(--teal-color);
	text-decoration: none;
	font-weight: bold;
	margin-right: 20px;
	font-size: 0.9rem;
}
.user-avatar {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: 2px solid var(--teal-color);
}
